.choose_group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose_group > h3 {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 900;
}

.p {
  margin-top: 0;
  gap: 0;
  margin-bottom: 15px;
}

.mile {
  color: grey;
}

.read {
  color: #ff8f81;
}
