.contact_Send {
  display: flex;
  justify-content: flex-start;
  margin-left: 27%;
}

.contact_heading {
  display: flex;
  margin-left: 12%;
  align-items: center;
}

.contact_heading > h2 {
  font-size: 35px;
}
