.service_heading {
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
}

.service_heading > h2 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
}

.service_image:hover {
  filter: hue-rotate(120deg);
}

.service_image {
  transition: filter 0.3s;
}
