@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Inter:wght@500;600&family=Noto+Sans+JP:wght@200;900&family=Poppins:wght@300;400;600&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
